:root{
  --bg-escuro: #223240;
  --fonte-clara: #fafafa;
  --bg-verde-1: #347355;
  --bg-verde-2: #60BF81;
  --bg-verde-3: #4F8C23;
  --bg-verde-4: #B7F25E;
  --large-size: 1.3rem;
  --medium-size: 1.125rem;
  --margin-l-r: 10vw;
}

p{
  font-size: var(--medium-size);
  line-height: 25px;
}

.container{
  position: relative;
  display: grid;
  grid-template-columns: var(--margin-l-r) auto var(--margin-l-r);
}

.center{
  margin: 0 var(--margin-l-r);
}

.layout{
  grid-template-rows: 100vh;
  grid-template-areas: 
  "header header header"
  "main main main"
  "footer footer footer";
}

.flex{
  display: flex;
  align-items: center;
  column-gap: 30px;
  flex-flow: row nowrap;
}

.voltar-topo {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 0;
  padding: 20px;
  background-color: var(--bg-verde-4);
  z-index: 100;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ativa{
  display: inline-block;
}

@media (max-width: 1000px){
  .flex{
    flex-flow: column nowrap;
  }

  .voltar-topo a{
    padding: 15px;
  }
}