.header{
  grid-area: header;
  position: relative;
  overflow: hidden;
  background-image: url('../assets/flor-pedra3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  width: 80%;
  margin-bottom: 60px; 
}

.header div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.bg-opacity{
  width: 100%;
  height: 100%;
  background-color: var(--bg-escuro);
  background-image: linear-gradient(var(--bg-escuro), var(--bg-verde-1));  
  opacity: 0.9;
}

.bg-opacity p{
  text-align: center;
  width: 80%;
  font-size: 1.3rem;
  color: #fafafa;
  
}

.menu{
  position: absolute;
  width: 100%;
  color: var(--fonte-clara);
  font-size: var(--large-size);
}

.menu-web {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 30px 0px;
}

.menu-web a{
  padding: 10px 5px;
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;

}

.menu-web a:hover{
  border-color: var(--bg-verde-2) ;
  transition: ease .5s;
  
}

.menu-img{
  display: none;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}


@media(max-width: 500px){

  .menu-web{
    display: none;
  }

  .menu-img{
    display: block;
  }
  
}

.menu-mobile{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-verde-2);
  animation: aparecer 0.5s;
}

@keyframes aparecer{
  from{
    opacity: 0;
  }
  to{
    opacity: 100%;
  }
}