.main{
  grid-area: main;
  height: auto;
}

.main .content{
  grid-column: 1 / -1; 
  padding-bottom: 30px;
}

.main .content:nth-child(2n){
  background-color: #60BF8199;
}

.img-section{
  width: 600px;
}

.titulo{
  font-family: 'Bellefair', Georgia, serif;
  font-size: 2.5rem;
  margin: 20px 0;
  text-align: center;
}

.artigo{
  margin-bottom: 30px;
}

@media (max-width: 1000px){
  .img-section{
    width: 100%;
  }
}